aenum==2.2.6
appdirs==1.4.4
argh==0.26.2
arrow==1.1.0
atomicwrites==1.4.0
backports.weakref==1.0.post1
binaryornot==0.4.4
bkcharts==0.2
black==19.10b0
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cachelib==0.1.1
cachetools==4.2.1
certifi==2020.12.5
comtypes==1.1.8
conda==4.9.2
conda-build==3.21.4
conda-verify==3.4.2
contextlib2==0.6.0.post1
cookiecutter==1.7.2
cookiejar==0.0.3
cs50==6.0.2
cycler==0.10.0
cytoolz==0.11.0
defusedxml==0.6.0
Deprecated==1.2.11
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
fbchat==1.9.7
Flask-Session==0.3.2
future==0.18.2
gmpy2==2.0.8
google-auth==1.24.0
google-auth-oauthlib==0.4.2
gspread==3.6.0
h5py==2.10.0
HeapDict==1.0.1
httplib2==0.18.1
jdcal==1.4.1
jinja2-time==0.2.0
json5==0.9.5
jupyter==1.0.0
jupyterlab==2.2.6
llvmlite==0.34.0
locket==0.2.1
MarkupSafe==1.1.1
mccabe==0.6.1
mechanize==0.4.5
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mpmath==1.1.0
multipledispatch==0.6.0
mypy-extensions==0.4.3
navigator-updater==0.2.1
numba==0.51.2
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
pager==3.3
paho-mqtt==1.5.1
parso==0.7.0
partd==1.1.0
pathspec==0.7.0
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pkginfo==1.7.0
pluggy==0.13.1
ply==3.11
poyo==0.5.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycosat==0.6.3
pycurl==7.43.0.6
pyflakes==2.2.0
PyJWT==2.0.1
pyodbc===4.0.0-unsupported
pyreadline==2.1
pytest==6.2.2
python-slugify==5.0.0
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==20.0.0
QDarkStyle==2.8.1
QtPy==1.9.0
requests-oauthlib==1.3.0
rsa==4.7
Rtree==0.9.4
ruamel-yaml==0.15.87
scikit-image==0.17.2
selenium==3.141.0
simplegeneric==0.8.1
sip==4.19.13
sqlparse==0.4.1
statsmodels==0.12.1
tables==3.6.1
termcolor==1.1.0
terminado==0.9.2
text-unidecode==1.3
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
unicodecsv==0.14.1
vonage==2.5.5
webencodings==0.5.1
widgetsnbextension==3.5.1
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.11.2
xlwings==0.21.4
xlwt==1.3.0
xmltodict==0.12.0
xvfbwrapper==0.2.9
zict==2.0.0
zope.event==4.5.0
